@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #000;
}

::selection {
    color: #fff;
    background: #000;
}

.image-container {
    position: absolute;
    top: 50%;
    left: 60%;
}

section {
    width: 100%;
    padding-top: 2%;
    border-top: thin solid rgba(0, 0, 0, 0.10);
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 3.6px;
    word-spacing: 0px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    letter-spacing: 1.2px;
    word-spacing: 0px;
    line-height: 52px;
    text-align: center;
    padding-bottom: .05em;
}

.typed {
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: 1.2px;
    word-spacing: 0px;
    line-height: 52px;
    text-align: center;
    padding-bottom: .05em;
    border-bottom-color: rgba(0, 0, 0, .3);
}

.soup {
    z-index: 1000;
}

.hidden-input {
    display: none;
}

.Typewriter__cursor {
    font-size: 36px;
    transform: translateX(-100%);
    transform: translateY(-10%);
    user-select: none;
}

.globe {
    /* border: 2px solid #000; */
    border-radius: 40%;
    height: 30vh;
    width: 30vh;
    /* left: 50%; */
    overflow: hidden;
    /* position: absolute; */
    /* left: 25%;
    transform: translateX(-50%); */


}

.globe svg {
    animation: rotation 30s linear 0s infinite;
}

.globe svg path {
    stroke: #FFF;
    stroke-width: 0.5px;
}

@keyframes rotation {
    from {
        transform: translateX(0);
    }

    from {
        transform: translateX(-50%);
    }
}

.website-container {
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    margin: auto;
    width: 60vh;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    .website-container {

        max-width: 40vh;
    }
}

.underline-css:after {
    content: "";
    float: left;
    background: #43434aAA;
    width: 100%;
    height: 6px;
    border-radius: 3px;
}

html,
body {
    /* background-color: #202023; */
    /* cursor: none; */
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.website-container {
    max-width: 60vh;
}

* {
    box-sizing: border-box;
}

a.navbutton {
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 4rem;
    font-weight: 800;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    text-decoration: none;
    display: inline;
    padding-left: 1rem;
    padding-right: 1rem;
}

a.navbutton:hover {
    background-color: white;
    color: black;
}

a.navactive {
    background-color: #0070f3;
}