@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

table.left{
    text-align: left;
    position: relative;
    margin-left: 0;
}

table.right{
    text-align: right;
    position: relative;
    margin-right: 0;
}